name: Node.js CI

on:
  push:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [6.x, 10.x, 12.x]
        webpack-version: [webpack@latest, webpack@beta]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      env:
        NODE_ENV: development
    - run: npm install ${{ matrix.webpack-version }}
    - run: npm run test
      env:
        CI: true
