name: Node.js CI

on:
  push:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [6.x, 9.x, 10.x, 12.x]
        webpack-version: [webpack@latest, webpack@beta]
        exclude:
          - node-version: 6.x
            webpack-version: webpack@beta
          - node-version: 9.x
            webpack-version: webpack@beta

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      env:
        NODE_ENV: development
    - run: npm install ${{ matrix.webpack-version }}
    - run: npm run test
