name: Do release

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [6.x, 9.x, 10.x, 12.x]
        webpack-version: [webpack@latest, webpack@beta]
        exclude:
          - node-version: 6.x
            webpack-version: webpack@beta
          - node-version: 9.x
            webpack-version: webpack@beta

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      env:
        NODE_ENV: development
    - run: npm install ${{ matrix.webpack-version }}
    - run: npm run test

  publish-github:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run build
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
